<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
  <php>
     <const name="HTTP_ADAPTER" value="false" />
  </php>

  <testsuites>      
      <testsuite name="Bundle Test Suite">
          <directory>tests/Ariadne/Tests</directory>
      </testsuite>
  </testsuites>
</phpunit>
